<!DOCTYPE html>
<%- include('./fragments/header.ejs') %>

        <main>
            <h2>Strona główna</h2>
            <p>Aplikacja w formie strony internetowej ułatwiająca zarządzanie wypożyczalnią samochodową. Dodanie, usuwanie, zarządzanie klientami jak również
                zarządzanie wypożyczeniami co ułatwia nam lepsze zagospodaowanie posiadanymi przez nas pojazdami.
                </p>
        </main>

<%- include('./fragments/footer.ejs') %>